
header {
    background-color: black;
    color: white;
    font: bold;
    font-family: calibri;
    padding: 10px;
}
body {
    background-color: rgb(209, 209, 243);}
h1 {
    text-align:center;
    Font: bold;
    color:blueviolet;
    font-size: xxlarge;
    font-family: Calibri;
}
h2{
    Font: bold;
    color:darkgreen;
    Font-size: 18pt;
    Font-family: Calibri;
}
img {
	border-radius: 8px;
    margin: 25px;
}
p {
    font-family: calibri;
    font-size: 14pt;
    line-height: 1.6;
}
a:hover {
	color: blue;
}
form {
    padding: 10px;
    background: rgb(222, 222, 253);
    border: 3px solid #0c0c0c;
    margin-top: 5px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
label {
    font-family: calibri;
    font-size: 14pt;
    line-height: 2;
}
button {
    width: calc(150px);
    background-color: blueviolet;
    border: 3px solid #0c0c0c;
    color: white;
    font-size: 14px;
    padding: 3px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
    grid-gap: 10px;
    justify-content: center;
    align-items:center;
    margin: 10px;
}
.grid-item {
    background-color: darkgray;
    border: solid 3px black;
    text-align: center;
    padding: 10px;
}
.photo {
    width:200px;
    height: 300px;
    justify-content: center;
    align-items:center;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-items:center;
    
}
table, th, td {
    background-color: white;
    margin: 10px;
    padding: 15px;
    border-style: inset;
}
th {
    font-family: calibri;
    font-size: 14pt;
    font-style: bold;
}
td {
    font-family: calibri;
    font-size: 14pt;
}
.inline-block {
    display: inline-block;
}
#facebook-icon {
    border: none; 
    margin: 0; 
    padding: 0;
}
    footer {
    background-color:blueviolet;
    color: white;
    font-family: calibri;}